{% extends "layout.html" %}
{% block header %}
    <script src="http://trifacta.github.io/vega/lib/d3.v3.min.js"></script>
    <script src="http://trifacta.github.io/vega/lib/d3.geo.projection.min.js"></script>
    <script src="http://trifacta.github.io/vega/vega.js"></script>
   
{% endblock %}
{% block content %}
	<div class="jumbo">
		<h2>Hop Composition</h2>
		<div class="centercell" id="vis"></div>
	</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">

var data = hopdf


</script>
{% endblock %}
