<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Hopstr</title>    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.css')}}">
    <link href="{{ url_for('static',filename='css/offcanvas.css')}}" rel="stylesheet">
    {% block header %}
    {% endblock %}
    <style type="text/css"></style>
  </head>
  <body>
   
      <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('home') }}">hopstr</a>
          </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url_for('home') }}">home</a></li>
            <li><a href="{{ url_for('about') }}">about</a></li>
            <li><a href="{{ url_for('hops') }}">hops</a></li>
          </ul>
        </div>
      </div>
    </div>
     
    <div class="jumbotron">
      {% block maincontent %}
      {% endblock %}
      <div class="row">
        <div class="col-6 col-sm-6 col-lg-4">
              {% block row1 %}
              {% endblock %}
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
              {% block row2 %}
              {% endblock %}
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
              {% block row3 %}
              {% endblock %}
        </div>
        <div class="col-6 col-sm-6 col-lg-4">
              {% block row4 %}
              {% endblock %}
        </div>
      <footer>
        <p>(C) JDP 2014</p>
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ url_for('static',filename='css/bootstrap.min.css')}}"></script>
    <script>
    $(document).ready(function() {
      $('[data-toggle=offcanvas]').click(function() {
        $('.row-offcanvas').toggleClass('active');
      });
    });
    </script>
    {% block javascript %}
    {% endblock %}
  </body>
</html>