{% extends "layout.html" %}
{% block header %}
    <script src="http://trifacta.github.io/vega/lib/d3.v3.min.js"></script>
    <script src="http://trifacta.github.io/vega/lib/d3.geo.projection.min.js"></script>
    <script src="http://trifacta.github.io/vega/vega.js"></script>
{% endblock %}

{% block maincontent %}
    <p id="menu"><b>Rank hops by characteristic: </b><select></select></br>
    <p></p>
    <p id="chart">
{% endblock %}

{% block rowcontent%}
	{% for rowindex, row in hop.iterrows() %}
	<div class="col-sm-6">
        <a href="{{url_for('hops') ~ "/" ~ rowindex}}">{{ rowindex }} </a>
		<p>alpha: {{row['alpha']}}</p>
	    <p>origin: {{row['origin']}}</p>
	    <p>notes: {{row['notes']}}</p>
	    <p>substitutes: {{row['substitutes']}}</p>
		<p></p>
	</div>
	{% endfor %}
{% endblock %}

{% block javascript %}
<script src="http://d3js.org/d3.v2.min.js?2.9.1"></script>
<script src="../static/js/rankhops.js"></script>
{% endblock %}
